# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
.DS_Store

# Secrets
.env
config.py

# Code
.vscode/

# Ignore the large cloned repo inside downward/
planners/downward/downward/

# Results
results/
*.pddl
